.girisyap{
    background:url(Images/girisarka.jpg) no-repeat center center fixed;
    background-size: cover;
    height: 100%;
  }
  .girisform{
    width: 40%;
    height: 35%;
    display: block;
    margin: 0 0 0 30%;
    padding-top: 10%;
  }
  footer{
    margin-top: -5%;
  }